@font-face {
  font-family: "iconfont";
  src: url('@/static/fonts/iconfont.ttf?t=1754879291467') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.icon-message-comments:before {
  content: "\e82e";
}

.icon-search:before {
  content: "\e841";
}

.icon-down:before {
  content: "\e839";
}

.icon-close:before {
  content: "\e83a";
}

.icon-left:before {
  content: "\e83d";
}

.icon-right:before {
  content: "\e840";
}

.icon-up:before {
  content: "\e845";
}


